#header {
  height: 20%;
  background-color: #21bf27;
}

#body {
  height: 80%;
}

.text {
    font-family: 'Sriracha', cursive;
}

.header-text {
  text-align: center;
  padding-bottom: 5px;
  margin: 0px
}

img {
  box-shadow: 2px 2px 7px .1px #888888;
}

#solar-panel, #graph-1, #graph-2, #graph-3 {
  width: 25%;
}

#main-grid {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 20% 50% 30%;
  grid-auto-flow: column;
}

#left-title, p1 {
  grid-row: 1;
  grid-column: 1;
}

#graph-2-div, #graph-3-div {
  grid-row: 3;
  grid-column: 2;
}

#background-solar {
  position: absolute;
  width: 845px;
  top: 15%;
  bottom: 0px;
  left: -2px;
  margin: 0px;
  box-shadow: 0 0 0 0;
  opacity: .25;
}