* {
  overflow-x: hidden;
  padding: 0px !important;
  margin: 0px !important;
}
.v12_5 {
  width: 100%;
  height: 1160px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  box-shadow: 0px 1.8518518209457397px 3px rgba(0, 0, 0, 0.01685185171663761);
  overflow: hidden;
}
.v12_6 {
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 80px;
  left: 0px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v12_7 {
  width: 100%;
  height: 80px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v12_8 {
  width: 100%;
  height: 38px;
  background: url("../images/v12_8.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 42px;
  left: 0px;
  overflow: hidden;
}
.v12_9 {
  width: 100%;
  height: 38px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v12_10 {
  width: 100%;
  height: 38px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v12_11 {
  width: 51px;
  height: 22px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 65px;
  overflow: hidden;
}
.v12_12 {
  width: 16px;
  height: 16px;
  background: url("../images/v12_12.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 35px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v12_17 {
  width: 22px;
  height: 22px;
  background: url("../images/v12_17.png");
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v12_18 {
  width: 100%;
  height: 28px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 134px;
  overflow: hidden;
}
.v12_19 {
  width: 100%;
  height: 28px;
  background: rgba(241,243,244,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  overflow: hidden;
}
.v12_20 {
  width: 16px;
  height: 16px;
  background: url("../images/v12_20.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 27px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v12_24 {
  width: 165px;
  height: 16px;
  background: rgba(255,255,255,1);
  opacity: 0.4000000059604645;
  position: absolute;
  top: 6px;
  left: 33px;
  overflow: hidden;
}
.v12_25 {
  height: 16px;
  background: url("../images/v12_25.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v12_26 {
  width: 12px;
  height: 12px;
  background: url("../images/v12_26.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 11px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v12_30 {
  width: 109px;
  height: 16px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 12px;
  overflow: hidden;
}
.v12_31 {
  width: 16px;
  height: 16px;
  background: url("../images/v12_31.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 93px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v12_38 {
  width: 16px;
  height: 16px;
  background: url("../images/v12_38.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 62px;
  overflow: hidden;
}
.v12_39 {
  width: 11px;
  height: 11px;
  background: rgba(95,99,104,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 2px;
}
.v12_40 {
  width: 16px;
  height: 16px;
  background: url("../images/v12_40.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 31px;
  overflow: hidden;
}
.v12_41 {
  width: 12px;
  height: 11px;
  background: rgba(186,188,190,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 2px;
}
.v12_42 {
  width: 16px;
  height: 16px;
  background: url("../images/v12_42.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v12_43 {
  width: 12px;
  height: 11px;
  background: rgba(95,99,104,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 2px;
}
.v12_44 {
  width: 100%;
  height: 42px;
  background: url("../images/v12_44.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v12_45 {
  width: 100%;
  height: 42px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v12_46 {
  width: 100%;
  height: 42px;
  background: rgba(222,225,230,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  overflow: hidden;
}
.v12_47 {
  width: 167px;
  height: 34px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 72px;
  overflow: hidden;
}
.v12_48 {
  width: 131px;
  height: 34px;
  background: url("../images/v12_48.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 8px;
  overflow: hidden;
}
.v12_49 {
  width: 182px;
  height: 34px;
  background: url("../images/v12_49.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 6px;
  overflow: hidden;
}
.v12_50 {
  width: 154px;
  height: 34px;
  background: url("../images/v12_50.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v12_51 {
  width: 6px;
  height: 8px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 0px;
  border: 0px solid rgba(150,150,150,1);
}
.v12_52 {
  width: 142px;
  height: 34px;
  background: rgba(255,255,255,1);
  padding: 8px 8px;
  margin: 9px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 6px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  overflow: hidden;
}
.v12_53 {
  width: 16px;
  height: 16px;
  background: url("../images/v12_53.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 8px;
  border: 0px solid rgba(150,150,150,1);
  overflow: hidden;
}
.v12_54 {
  width: 74px;
  color: rgba(73,76,79,1);
  position: absolute;
  top: 10px;
  left: 33px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v12_55 {
  width: 18px;
  height: 18px;
  background: url("../images/v12_55.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 116px;
  overflow: hidden;
}
.v12_56 {
  width: 7px;
  height: 7px;
  background: rgba(60,64,67,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 5px;
}
.v12_57 {
  width: 6px;
  height: 8px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 154px;
  border: 0px solid rgba(150,150,150,1);
}
.v12_58 {
  width: 20px;
  height: 20px;
  background: url("../images/v12_58.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 162px;
  overflow: hidden;
}
.v12_59 {
  width: 13px;
  height: 13px;
  background: rgba(60,64,67,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 3px;
}
.v12_60 {
  width: 52px;
  height: 12px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 13px;
  overflow: hidden;
}
.v12_61 {
  width: 12px;
  height: 12px;
  background: rgba(39,202,64,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 40px;
  border-radius: 50%;
}
.v12_62 {
  width: 12px;
  height: 12px;
  background: rgba(255,193,48,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 20px;
  border-radius: 50%;
}
.v12_63 {
  width: 12px;
  height: 12px;
  background: rgba(255,96,88,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v12_64 {
  width: 100%;
  height: 100%;
  background: url("../images/v12_64.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(233,233,233,1);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v12_65 {
  width: 100%;
  height: 100%;
  background: rgba(230,240,235,1);
  opacity: 1;
  position: absolute;
  top: 80px;
  left: 0px;
  overflow: hidden;
}
.v31_14 {
  width: 845px;
  height: 851px;
  background: url("../images/v31_14.png");
  opacity: 1;
  position: absolute;
  top: 318px;
  left: 2px;
}
.v11_4 {
  width: 100%;
  height: 217px;
  background: rgba(0,190,196,1);
  opacity: 1;
  position: absolute;
  top: 80px;
  left: 0px;
  overflow: hidden;
}
.v11_10 {
  width: 100%;
  color: rgba(23,26,43,1);
  position: absolute;
  top: 146px;
  left: 33px;
  font-family: League Gothic;
  font-weight: Regular;
  font-size: 72px;
  opacity: 1;
  text-align: center;
}
.v11_12 {
  width: 961px;
  color: rgba(23,26,43,1);
  position: absolute;
  top: 104px;
  left: 243px;
  font-family: Josefin Slab;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v43_11 {
  width: 622px;
  color: rgba(23,26,43,1);
  position: absolute;
  top: 484px;
  left: 28px;
  font-family: Josefin Slab;
  font-weight: SemiBold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v11_21 {
  width: 683px;
  color: rgba(23,26,43,1);
  position: absolute;
  top: 372px;
  left: 20px;
  font-family: Baloo Bhaina 2;
  font-weight: SemiBold;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v31_15 {
  width: 683px;
  color: rgba(23,26,43,1);
  position: absolute;
  top: 410px;
  left: 510px;
  font-family: Baloo Bhaina 2;
  font-weight: SemiBold;
  font-size: 70px;
  opacity: 1;
  text-align: center;
}
.v31_8 {
  width: 260px;
  height: 52px;
  background: rgba(208,44,6,1);
  opacity: 1;
  position: absolute;
  top: 432px;
  left: 52px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v31_10 {
  width: 258px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 443px;
  left: 53px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Baloo Bhaina 2;
  font-weight: SemiBold;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v31_22 {
  width: 368px;
  color: rgba(23,26,43,1);
  position: absolute;
  top: 495px;
  left: 504px;
  font-family: Baloo Bhaina 2;
  font-weight: SemiBold;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v43_4 {
  width: 368px;
  color: rgba(23,26,43,1);
  position: absolute;
  top: 830px;
  left: 186px;
  font-family: Baloo Bhaina 2;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v43_5 {
  width: 368px;
  color: rgba(23,26,43,1);
  position: absolute;
  top: 593px;
  left: 363px;
  font-family: Baloo Bhaina 2;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v43_6 {
  width: 368px;
  color: rgba(23,26,43,1);
  position: absolute;
  top: 593px;
  left: 8px;
  font-family: Baloo Bhaina 2;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v31_24 {
  width: 368px;
  color: rgba(23,26,43,1);
  position: absolute;
  top: 904px;
  left: 414px;
  font-family: Baloo Bhaina 2;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v31_11 {
  width: 260px;
  height: 52px;
  background: rgba(33,191,39,1);
  opacity: 1;
  position: absolute;
  top: 432px;
  left: 368px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v31_12 {
  width: 258px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 443px;
  left: 369px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Baloo Bhaina 2;
  font-weight: SemiBold;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v31_16 {
  width: 44px;
  height: 74px;
  background: rgba(0,190,196,1);
  opacity: 0.8999999761581421;
  position: absolute;
  top: 389px;
  left: 376px;
  border: 1px solid rgba(0,190,196,0.3499999940395355);
}
.v31_18 {
  width: 44px;
  height: 74px;
  background: rgba(23,26,43,1);
  opacity: 0.8999999761581421;
  position: absolute;
  top: 389px;
  left: 462px;
  border: 1px solid rgba(0,0,0,0.3499999940395355);
}
.v31_17 {
  width: 42px;
  height: 74px;
  background: rgba(33,191,39,1);
  opacity: 0.8999999761581421;
  position: absolute;
  top: 389px;
  left: 418px;
  border: 1px solid rgba(33,191,39,0.3499999940395355);
}
.v11_17 {
  width: 435px;
  height: 326px;
  background: url("../images/v11_17.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 536px;
  left: 538px;
  border: 2px solid rgba(159,244,245,1);
  overflow: hidden;
}
.v31_19 {
  width: 254px;
  height: 190px;
  background: url("../images/v31_19.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 942px;
  left: 682px;
  border: 2px solid rgba(159,244,245,1);
  overflow: hidden;
}
.v31_21 {
  width: 254px;
  height: 190px;
  background: url("../images/v31_21.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 942px;
  left: 357px;
  border: 2px solid rgba(159,244,245,1);
  overflow: hidden;
}
.v11_19 {
  width: 240px;
  height: 134px;
  background: url("../images/v11_19.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 630px;
  left: 72px;
  border: 2px solid rgba(62,175,63,1);
  overflow: hidden;
}
.v43_3 {
  width: 240px;
  height: 134px;
  background: url("../images/v43_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 630px;
  left: 427px;
  border: 2px solid rgba(62,175,63,1);
  overflow: hidden;
}
.v43_2 {
  width: 240px;
  height: 134px;
  background: url("../images/v43_2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 871px;
  left: 250px;
  border: 2px solid rgba(62,175,63,1);
  overflow: hidden;
}
.v43_8 {
  width: 64px;
  height: 104px;
  background: url("../images/v43_8.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1056px;
  left: 16px;
  overflow: hidden;
}
.v43_10 {
  width: 211px;
  height: 104px;
  background: url("../images/v43_10.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1056px;
  left: 82px;
  overflow: hidden;
}
