*{
    box-sizing: border-box;
}
body {
    margin: 0 auto;
    max-width: 50rem;
    font-family: sans-serif;
    line-height: 1.4;
    padding: 4rem 2rem;
    background: #FFF;
    color: #333;
}

/*div.plot {
    padding: 1rem;
    display: block;
    width: 100%;
    min-height: 25%;
}*/

div.placeholder {
    display: grid;
}

div.placeholder p.error {
    margin: auto;
}

div.dials {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
}

div.status {
    color: #FFF;
    width: 25%;
    margin: 1rem auto;
    text-align: center;
    border-radius: 2px;
    font-weight: bold;
}

/*.disp{
    display: none;
}
*/
.hide,
.status .hide,
.status .disp .hide,
.disp {
    display: none;
}

#avail {
    background: #21bf27;
}

#unavail {
    background: #d02c06;
}

#maintain {
    color: #FFF;
    background: #00bec4;
    width: 100%;
    margin: 0 auto;
    padding: 0.5rem 0;
    text-align: center;
    /*border-radius: 2px;*/
    font-weight: bold;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}

@media only screen and (max-width: 641px) {
    div.dials {
        display: initial;
    }
}